spotify-tui/
configstore/
karabiner/automatic_backups/
gcloud/
styx-secrets/
fish/
scripts/config_*/
scripts/plugins/
scripts/features/
doom/flycheck_config.el
doom/flycheck_init.el
doom/custom.el
result
qutebrowser/bookmarks/
qutebrowser/greasemonkey/
qutebrowser/quickmarks
zsh/
certificates/
htop/
mail/
ranger/
tmux/
git/
QtProject/
micro/
kfp/
pip/
clojure/
Google/
jgit/
.DS_Store
doom/.DS_Store
